.main{
	position: relative;
	overflow: hidden;
	min-width: 800px;
	/*width:-moz-calc(100% - 180px);
    width:-webkit-calc(100% - 180px);
    width: calc(100% - 180px);*/
    width:90%;
	margin:auto;
	padding-top: 30px;
}
.nav{
	width:160px;
	min-height: 500px;
	position: fixed;
	margin-top:88px;
	padding-top: 10px;
	padding-bottom: 10px;
	top:0;
	background-color: #fff;
}
.nav li{
	width:100%;
	height:45px;
	margin-bottom: 1px;
}
.nav li a{
	display: block;
	font-size: 15px;
	text-align: center;
	line-height:45px;
	color:#333333;
}
.nav li a:hover{
	background-color:#F8F8F8;
	color:#EA6F5A;
	border-left:2px solid #EA6F5A;
}
.nav li a:focus{
	background-color:#F8F8F8;
	color:#EA6F5A;
	border-left:2px solid #EA6F5A;
}
.on{
	display: block;
	font-size: 15px;
	text-align: center;
	line-height:45px;
	background-color:#F8F8F8;
	color:#EA6F5A !important;
	border-left:2px solid #EA6F5A;
}
a{
	cursor: pointer;
}
.content{
	position: relative;
	overflow: hidden;
	padding-top:10px;
	margin-left:180px;
	width:-moz-calc(100% - 180px);
    width:-webkit-calc(100% - 180px);
    width: calc(100% - 180px);
	min-height: 500px;
	background-color:#fff;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	padding-bottom:20px;
}
.title{
	display:block;
	height:25px;
	font-size: 16px;
	color:#EA6F5A;
	padding-left:15px;
	margin-bottom: 10px;
	border-bottom:1px solid #DEE1E3;
}
