
/*个人密码修改CSS*/
form{
	width:580px;
	margin-top:20px;
}
form span:nth-of-type(1){
	padding:0 0 10px 0;
}
form span{
	display:block;
	padding:15px 0;
}
form span label{
	display:inline-block;
	text-align:right;
	padding-right:10px;
	width:95px;
	font-size:15px;
}
form span input{
	/*display:block;*/
	vertical-align: middle;
	height:34px;
	width:240px;
	padding-left:10px;
	border-radius: 3px;
	border:1px solid #DDDFD9;
}
form span input:hover{
	border:1px solid #A5C7FE;
}
form span input:focus{
	border:1px solid #A5C7FE;
}
input[type="submit"]{
	display:block;
	width:240px;
	margin-left:99px;
	height:40px;
	line-height: 40px;
	font-size: 18px;
	font-family: SimHei;
	color:#fff;
	border-radius: 5px;
	border:0;
	background-color:#B8C2C4;
}
input[type="submit"]:hover{
	background-color:#4C9ED9;
	cursor:pointer
}
